<!DOCTYPE html>
<html lang="en" ng-app="toDoApp">
  <head>
    <script src="angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script src="controllers.js"></script>
    <link rel="stylesheet" href="todo.css">
  </head>
  <body>
    <div ng-controller="ToDoController as ctrl">
      <p ng-repeat="todo in ctrl.todos">
        {{ todo.text }}: {{ todo.completed ? "completed" : "not completed" }}
        <button ng-click="ctrl.deleteToDo(todo)">Delete</button>
      </p>
      <input ng-model="task"></input>
      <button ng-click="ctrl.addToDo(task)">Add</button>
    </div>
  </body>
</html>
